* {
    font-family: sans-serif;
}

#chart {
    margin-left: 40px;
}

p {
    border: 1px solid black;
    font-family: sans-serif;
    padding: 4px;
    background-color: white;
}

h2 {
    position: absolute;
    margin: 0;
    padding-left: 70px;
}